@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/Lexend/Lexend-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./fonts/Lexend/Lexend-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./fonts/Lexend/Lexend-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./fonts/Lexend/Lexend-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./fonts/Lexend/Lexend-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('./fonts/Lexend/Lexend-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('./fonts/Lexend/Lexend-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('./fonts/Lexend/Lexend-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('./fonts/Lexend/Lexend-Thin.ttf') format('truetype');
}
