---

---

<header class="navbar">
  <div class="nav-container">
    <a href="/" class="nav-logo interactive">
      <span>Better</span>Me
    </a>
    <nav class="nav-links">
      <a href="/blog" class="nav-link interactive">Blog</a>
      <a href="news.betterme.dev" class="nav-link interactive">Tin tức</a>
      <a href="pomodoro.betterme.dev" class="nav-link interactive">Pomodoro</a>
    </nav>
    <a href="/guides/intro" class="btn-nav btn-purple interactive">
      Hướng dẫn sử dụng
    </a>
  </div>
</header>
