---
---

<header class="navbar">
  <div class="nav-container">
    <a href="#" class="nav-logo interactive">
      <span>Better</span>Me
    </a>
    <nav class="nav-links">
      <a href="#" class="nav-link interactive">Về BetterMe</a>
      <a href="#pomodoro-room" class="nav-link interactive">Phòng Pomodoro</a>
      <a
        href="https://discord.gg/betterme"
        target="_blank"
        class="nav-link interactive">Discord</a
      >
      <a
        href="https://betterme.study"
        target="_blank"
        class="nav-link interactive">betterme.study</a
      >
    </nav>
    <a
      href="https://discord.gg/betterme"
      target="_blank"
      class="btn-nav btn-purple interactive"
    >
      Tham gia Discord
    </a>
  </div>
</header>
