---

---

<header class="navbar">
  <div class="nav-container">
    <a href="/" class="nav-logo interactive">
      <span>Better</span>Me
    </a>
    <a href="/guides/intro" class="btn-nav btn-purple interactive">
      Hướng dẫn sử dụng
    </a>
  </div>
</header>
